* {
	box-sizing: border-box;
}

body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: rgb(234, 235, 237);
	text-align: center;
}

#greet-message h1 {
	margin: 0;
	margin-bottom: 0.2em;
}

#greet-message .subtitle {
	margin: 0;
	margin-bottom: 2em;
}

#greet-message img {
	width: 25px;
	height: 25px;
}

#greet-message a {
	text-decoration: none;
	color: rgb(73, 164, 221);
	margin-left: 0.5em;
}

#greet-message .professional-social-media {
	display: flex;
	justify-content: center;
}